@import "../koloroj";

@mixin ŝveba-vorto($koloro) {
   box-shadow: 0 0 4px 2px $koloro;
   background-color: $koloro;
}

.legilo {
   margin-top: 20px;
}

.legilo-eniro {
   width: 700px;
   border: $neĝo solid 2px;
   background-color: $revo;
   color: $neĝo;
   padding: 7px;
   font-family: "Lato", sans-serif;
   margin-bottom: 10px;
}

.legi-butono {
   display: block;
   margin: 0 auto;
}

.verbo {
   display: inline-block;
   margin-right: 4px;
}

.predikata-vorto {
   font-weight: bold;
}

.argumenta-vorto {
   display: inline-block;
   margin-right: 4px;
}

.predikato {
   margin-bottom: 10px;
   display: block;
}

.hover-parent {
   @include ŝveba-vorto($neĝo70);
}

.hover-self {
   @include ŝveba-vorto($neĝo40);
}

.hover-child {
   @include ŝveba-vorto($neĝo15);
}