@import "../koloroj";

.legilo {
   margin-top: 20px;
}

.legilo-eniro {
   width: 700px;
   border: $neĝo solid 2px;
   padding: 7px;
   font-family: "Lato", sans-serif;
   margin-bottom: 10px;
}

.legi-butono {
   display: block;
   margin: 0 auto;
}

.verbo {
   display: inline-block;
   margin-right: 4px;

   &:after {
      content: "Predicate";
      display: block;
      font-size: 60%;
   }
}

.predikata-vorto {
   font-weight: bold;
}

.argumenta-vorto {
   display: inline-block;
   margin-right: 4px;

   &:after {
      content: "Argument";
      display: block;
      font-size: 60%;
   }
}

.predikato {
   margin-bottom: 10px;
   display: block;
}

.hover-parent {
   background-color: $neĝo70;
}

.hover-self {
   background-color: $neĝo40;
}

.hover-child {
   background-color: $neĝo15;
}