h2.vorto {
   font-family: 'Nunito', sans-serif;
   font-size: 3em;
   letter-spacing: 2px;
   margin-bottom: 3px;
}

.streko {
   height: 3px;
   background-color: #343A40;
}

.vorttipo {
   font-style: italic;
   margin-top: 0;
}